{% block presse %}
{% load static %}

<style>
    .imgpresse {
        height: 100%;
        width: 100%;
    }
</style>

<div id="presse" class="container">
    <h3>Presse</h3>
    <h4>2021</h4>
    <figure>
        <figcaption>HNA vom 27.4.2021</figcaption>
        <img src="/static/img/Presse8.png" alt="Die Schönheit des Gesangs" class="imgpresse"><br><br>
    </figure>
    <figure>
        <figcaption>HNA vom 10.5.2021</figcaption>
        <img src="/static/img/Presse6.png" alt="Rohdiamanten beim Liedfestival in Erlösekirche" class="imgpresse" style="width: 50%; height: 50%;">
    </figure>
    <br><br>
    <figure>
        <figcaption>HNA vom 4.5.2021</figcaption>
        <img src="/static/img/Presse7.png" alt="Leiden des verstoßenen Liebenden" class="imgpresse">
    </figure>
    <br><br>
    <figure>
        <figcaption>HNA vom 11.5.2021</figcaption>
        <img src="/static/img/Presse9.png" alt="Dramatische Edelsteine" class="imgpresse">
    </figure>

    <h4>2019</h4>
    <figure>
        <figcaption>HNA vom 3.5.2019</figcaption>
        <img src="/static/img/presse1.jpg" alt="Musik mit Pfiff" class="imgpresse">
    </figure>
    <br><br>
    <figure>
        <figcaption>HNA vom 8.3.2019</figcaption>
        <img src="/static/img/presse2.jpg" alt="Gestatten: jung und gut" class="imgpresse">
    </figure>
    <br><br>
    <figure>
        <figcaption>HNA vom 6.5.2019</figcaption>
        <img src="/static/img/presse3.jpg" alt="Im Innersten der Romantik" class="imgpresse">
    </figure>
    <br><br>
    <figure>
        <figcaption>HNA vom 13.5.2019</figcaption>
        <img src="/static/img/presse4.jpg" alt="Europas Lieder leuchten" class="imgpresse">
    </figure>
    <br><br>
    <figure>
        <figcaption>HNA vom 13.5.2019</figcaption>
        <img src="/static/img/presse5.jpg" alt="Glitzerne Stimmungskunst" class="imgpresse">
    </figure>
</div>

{% endblock %}